@font-face {
		font-family: 'patrick';
		/* src: URL('patrick.ttf') format('truetype'); */

		src: url("https://raw.githubusercontent.com/pinpox/chordsheet-test/main/patrick.ttf") format('truetype');
}

.patrick {
		font-family: 'patrick';
}

@font-face {
		font-family: 'musejazz';
		/* src: URL('musejazz.ttf') format('truetype'); */
		src: url("https://raw.githubusercontent.com/pinpox/chordsheet-test/main/musejazz.ttf") format('truetype');

}

.musejazz {
		font-family: 'musejazz';

}

@font-face {
		font-family: 'bravura';
		/* src: URL('bravura.ttf') format('truetype'); */
		src: url("https://raw.githubusercontent.com/pinpox/chordsheet-test/main/bravura.ttf") format('truetype');

}

.bravura {
		font-family: 'bravura';
}

.barline {

		line-height: 1;
		/* line-height: 1em; */
		font-size: 4vw;
		/* line-height: 0.5; */
		/* border: 1px solid green; */
}
.repeatbox {
		font-size: 2vw;
		border-top: 2px solid black;
		border-left: 2px solid black;
}

.bar-content {

		/* background: #f00; */
		display: inline-block;
		width: 100px;
		/* margin: auto; */
		margin: 0px;

		/* border: 1px solid red; */
		font-family: 'musejazz';
		/* min-width: 400px; */
		/* line-height: 1em; */
}

.sectiontitle {
		border: 3px solid black;
		padding-left: 2px;
		padding-right: 2px;
		font-family: 'patrick';
}


.divider {
		/* background: #0f0; */
		display: inline-block;
		/* width: 20px; */
		margin: 0px;
		padding 0px;
		/* border: 1px solid yellow; */
		width: 10px;
		font-family: 'bravura';
}





